/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require foundation_and_overrides

 */

@import "foundation_and_overrides";
/* Add imports of custom sass/scss files here */

#page-wrap {
  max-width:700px;
  margin:0 auto;
}

.signed-in-as {
  margin-top:20px;
  font-size:.8em;
}

header {
	width:100%;
	color:black;
  h1 { 
    text-align:center;
    margin-bottom:-50px;
    font-family: 'Monofett', cursive; 
  }
}

#messages {
  height:20px;
  width:100%;
  margin:60px 0 0 0;
  .alert, .flash, .error {
    text-align:center;
    margin:0 auto;
  }
	.alert {
		color:red;
	}
	.success {
		color:green;
	}
}

#content {
  margin:25px;
}

table, td, tr {
  line-height:1rem;
}
