// Place all the styles related to the todo_lists controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#todo-lists table{
	width:100%;
}

.new-list {
  display:inline;
  float:left;
  width:100%;
}

#new-list-btn {
  font-size:.9em;
  float:left;
  margin-right:5px;
}

#todo_list_title {
  width:90%;
}