.back-button {
  width:30px;
  background-color:rgba(0,0,0,.1);
  margin-bottom:10px;
  border-radius:5%;
  padding-bottom:5px;
  a {
    padding:0 5px;
    color:gray;
    font-size:2rem;
    font-weight:bold;
  }
  &:hover {
    background-color:rgba(0,0,0,.5);
    a {
      color:white;
    }
  }
}