.new-list {
  margin: 0 auto;
  width:95%;
  p {
    margin:0;
  }
  #todo_list_title {
    margin:0;
  }
}

#pending-lists, #completed-lists {
  border:none;
  width:100%;
  td {
    text-align:center;
    &:first-child {
      text-align:left;
    }
  }
}

.created-at {
  font-size:.7em;
}

.pagination {
  margin-top:-10px;
  a, span, em {
    border-radius:10%;
    font-style:normal;
    padding:2px 5px 2px 5px;
    border:1px solid gray;
    a:hover {
      background-color:lightgray;
    }
  }
  .next_page, .previous_page {
    display:none;
  }
}